html, body {
	background: lightgray;
}

body {
	background: white;
    	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
    	line-height: 1.8;
    	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	width: 85%;
}

h1 {
    	font: 3.2em Georgia, Verdana, sans-serif;
    	font-weight: bold;
    	text-align: center;
}

h2 {
	font: 2em Georgia, "Times New Roman", Times, serif;
    	font-weight: bold;
	text-align: center;
}

h3 {
	font: 1.5em Georgia, "Times New Roman", Times, serif;
    	font-weight: bold;
}

h4 {
    	margin-bottom: 0;
}

p {
    	margin-top: 0;
}

.center {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 20%;
    	height: 20%;
}


#navbar ul{
    background-color: #000;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#navbar li {
    border-right: 1px solid #bbb;
    float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
	border-top: 2px solid gray;
	text-align: left;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}

